<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="assets/style.css">
  <title>Condenser machine SKUs | UCL ARC</title>
</head>
<body>
  <div id="header">
    <header>
      <h1>
        Condenser machine SKUs
      </h1>
    </header>
  </div>

  <div class="wrap">

    <div id="instructions">
      <header>
        <h2>
          SKUs
        </h2>
      </header>
    </div>

    <table>
      <thead>
        <tr>
          <th scope="col">Instance</th>
          <th scope="col">vCPU</th>
          <th scope="col">RAM (GB)</th>
          <th scope="col">OS disk (GB)</th>
          <th scope="col">GPU</th>
        </tr>
      </thead>
      <!-- BEGIN TABLE BODY -->

      <!-- END TABLE BODY -->
    </table>

  </div>
</body>
</html>